@import "/src/app/constants";

.button-primary {
  @include text-sm;
  @include solid-border;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: $iris-100;
  color: $white;
  padding: 1.5rem 1.875rem;
  gap: 10px;
  width: 100%;
  height: 100%;

  &:disabled {
    pointer-events: none;
  }
}